<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Siddhant Chhabra, Developer and Student </title>
	<meta name="description" content="web developer, student, resume, game developer">  
	<meta name="author" content="siddhant chhabra">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->

	<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">  
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">  
	<link rel="stylesheet" href="{{ url_for('static', filename='css/vendor.css') }}">  

	   <!-- script
	   ================================================== -->   
	<script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
	<script src="{{ url_for('static', filename='js/pace.min.js') }}"></script>


   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/jpg" href="{{ url_for('static', filename='favicon.jpg') }}">


	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116629272-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-116629272-1');
	</script>

	<!-- HeatMap -->
	<script>
	(function(h,e,a,t,m,p) {
	m=e.createElement(a);m.async=!0;m.src=t;
	p=e.getElementsByTagName(a)[0];p.parentNode.insertBefore(m,p);
	})(window,document,'script','https://u.heatmap.it/log.js');
	</script>

	<!-- google search verification -->
	<meta name="google-site-verification" content="l9NJLAjcSQ9VZt3wbuf0ACVNxCWaQ9rykm_GCorFSqo" />

</head>

<body id="top">

   <!-- about section
   ================================================== -->
   <section id="about">  

   	<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Hello World</h5>
   			<h1>I am Siddhant Chhabra</h1>

   			<div class="intro-info">

   				<img src="{{ url_for('static', filename='images/profile-pic.jpg') }}" alt="Profile Picture">

   				<p class="lead">I am a full stack web developer, final year computer science engineering student, unity game developer and a machine learning enthusiast. </p>
   			</div>   			

   		</div>   		
   	</div> <!-- /section-intro -->

   	<div class="row about-content">

   		<div class="col-six tab-full">

   			<h3>Profile</h3>
   			<p>I've been fascinated by computers since my Dad introduced them to me at the age of 3, however I wouldn't start to code until I was 17. Since then, I've fallen in love with the ability to create magic out of characters.  </p>

   			<ul class="info-list">
   				<li>
   					<strong>Fullname:</strong>
   					<span>Siddhant Chhabra</span>
   				</li>
   				<li>
   					<strong>Birth Date:</strong>
   					<span>March 06, 1996</span>
   				</li>
   				<li>
   					<strong>Job:</strong>
   					<span>Intern, Full Stack Web Developer at ORNAZ.com</span>
   				</li>
   				<li>
   					<strong>Website:</strong>
   					<span>www.siddhantchhabra.com</span>
   				</li>
   				<li>
   					<strong>Email:</strong>
   					<span>siddhantchhabra96@gmail.com</span>
   				</li>

   			</ul> <!-- /info-list -->

   		</div>

   		<div class="col-six tab-full">

   			<h3>Skills</h3>
   			<p> I've been growing and learning new things. More often than not when I acquire new knoweldge, I see a sea of skills I've yet to gain. The sea gets bigger and bigger as I progress. I am always learning, and for me computer science is a discipline of never being constant. </p>

				<ul class="skill-bars">
				   <li>
				   	<div class="progress percent90"><span>90%</span></div>
				   	<strong>Python </strong>
				   </li>
				   <li>
				   	<div class="progress percent95"><span>95%</span></div>
				   	<strong>Java</strong>
				   </li>
				   <li>
				   	<div class="progress percent65"><span>65%</span></div>
				   	<strong>CSS</strong>
				   </li>
				   <li>
				   	<div class="progress percent95"><span>95%</span></div>
				   	<strong>PHP</strong>
				   </li>
				   <li>
				   	<div class="progress percent70"><span>70%</span></div>
				   	<strong>Magento 1.9</strong>
				   </li>
   				   <li>
				   	<div class="progress percent90"><span>90%</span></div>
				   	<strong>MySQL</strong>
				   </li>
  				   <li>
				   	<div class="progress percent70"><span>70%</span></div>
				   	<strong>Flask</strong>
				   </li>

      
				</ul> <!-- /skill-bars -->		

   		</div>

   	</div>

   	<div class="row button-section">
   		<div class="col-twelve">
<!--    			<a href="#contact" title="Hire Me" class="button stroke smoothscroll">Hire Me</a>
 -->   			<a href="https://drive.google.com/file/d/1Wh3fDmVsdbTXrg3sTJjObbmLPR9UHUId/view?usp=sharing" title="Download CV" class="button button-primary" target="_blank" >Download CV</a>

	</div>   		
   	</div>

   </section> <!-- /process-->    


   <!-- resume Section
   ================================================== -->
	<section id="resume" class="grey-section">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Resume</h5>
<!--    			<h1>More of my credentials.</h1>
 -->
   			<p class="lead">"If I have seen further than others, it is by standing upon the shoulders of giants." - Isaac Newton</p>

   		</div>   		
   	</div> <!-- /section-intro--> 

   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Work Experience</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Intern, Full Stack Web Developer</h3>
	   					<p>January 2018 - Present</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>ORNAZ.com Pvt Ltd.</h4>
	   					<p>
	   						I work on Magento 1.9 based custom price engine, front-end development, creating and managing custom invoices, products attribute development. 
	   					</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Intern, Software Developer</h3>
	   					<p>May 2016 - July 2016</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Binary Semantics Pvt Ltd. </h4>
	   					<p> As an intern, I worked on backend development of a travel website which was developed using PHP and MySQL. I also communicated with Android and iOS teams such the database remains consistent across platforms.   </p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	<!-- /timeline-block -->

   			</div> <!-- /timeline-wrap -->   			

   		</div> <!-- /col-twelve -->
   		
   	</div> <!-- /resume-timeline -->
   	
   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Education</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Computer Science, Bachelor's Degree</h3>
	   					<p>Septemeber 2014 - Present</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>BML Munjal University</h4>
	   					<p>
	   						As the founding batch of the university, we learnt and experimented a lot. I learnt how to work in teams, participate in events and complete late night projects. I was an active member of Sci-Mat and ToastMasters club where I enjoyed intelligent company the most. 
	   					</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

   			</div> <!-- /timeline-wrap -->   			

   		</div> <!-- /col-twelve -->
   		
   	</div> <!-- /resume-timeline -->
		
	</section> <!-- /features -->


	<!-- Portfolio Section
   ================================================== -->
	<section id="portfolio">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>PROJECTS</h5>
   			<h1>Check Out Some of My Works.</h1>

   			<p class="lead"> Some of the projects which I developed  while I was in University </p>

   		</div>   		
   	</div> <!-- /section-intro--> 

   	<div class="row portfolio-content">

   		<div class="col-twelve">

   			<!-- portfolio-wrapper -->
	         <div id="folio-wrapper" class="block-1-2 block-mob-full stack">



        		<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="{{ url_for('static', filename='images/portfolio/qualitynet.jpg') }}" alt="Internet Quality at Any Location">
	               	<a href="#modal-01" class="overlay">              		                  
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title"> Quality Net </h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Web Development
		     					      </span>		     		
		     					   </div> 	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->



	            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="{{ url_for('static', filename='images/portfolio/delifree.jpg') }}" alt="Chain Reaction">
	                  <a href="#modal-02" class="overlay">             		                  
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">DeliFree </h3>	     					  
		     					    	<span class="folio-types">
		     					       	  Web Development
		     					      </span>		     		
		     					   </div> 	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->






	            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="{{ url_for('static', filename='images/portfolio/nlp.jpg') }}" alt="DeliFree">
	                  <a href="#modal-03" class="overlay">                  	                 
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title"> Hindi Word Sense Disambiguation </h3>	   
		     					    	<span class="folio-types">
		     					       	  Natural Language Processing
		     					      </span>		     		
		     					   </div>  	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->     


	            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="{{ url_for('static', filename='images/portfolio/chainreaction.jpg') }}"  alt="DeliFree">
	                  <a href="#modal-04" class="overlay">                  	                 
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Chain Reaction</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Web Game with AI
		     					      </span>		     		
		     					   </div>  	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->     





	            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="{{ url_for('static', filename='images/portfolio/calc.jpg') }}" alt="DeliFree">
	                  <a href="#modal-05" class="overlay">                  	                 
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title"> 4 Bit Calculator </h3>	     					  
		     					    	<span class="folio-types">
		     					       	  Built Using NAND, AND, OR Transistors. 
		     					      </span>		     		
		     					   </div>  	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->     




	            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="{{ url_for('static', filename='images/portfolio/robot.jpg') }}" alt="DeliFree">
	                  <a href="#modal-06" class="overlay">                  	                 
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title"> Line Follower Robot  </h3>	     				
		     					    	<span class="folio-types">
		     					       	  Embedded C Robotics
		     					       	 </span>		     		
		     					   </div>  	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->     


	         	<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="{{ url_for('static', filename='images/portfolio/space.jpg')}}" style="width: 110%" alt="Liberty">
	                  <a href="#modal-07" class="overlay">	                  	           
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
		     					       <h3 class="folio-title">Space Dodger</h3>	     					 
		     					    	 <span class="folio-types">
		     					       	  Unity Game Development 
		     					       </span>
		     					   </div>	                      	
	                     </div>                    
	                  </a>
	               </div>	               
	        		</div> <!-- /folio-item -->


	            <!-- modal popups - begin
	            ============================================================= -->
	            <div id="modal-01" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="{{ url_for('static', filename='images/portfolio/qualitynet.jpg') }}"   alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4> QualityNet</h4>		      
					      <p>Python/Flask, Bootstrap, HTML · The website provides the functionality of taking a speed test and seeing results on any location. It stores all the speed tests results with location allowing later searches by location.
						  </p>
					      <div class="categories">Web Development</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://github.com/siddhant-curious/speed-test-locations" target="_blank">Github</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-01 -->

				   <div id="modal-02" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="{{ url_for('static', filename='images/portfolio/delifree.jpg') }}" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>DeliFree</h4>		      
					      <p>DeliFree is a website which helps eliminates the e-commerce delivery charges by providing a platform to club multiple orders at the same location together.
						  </p>

					      <div class="categories">Web Development</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://github.com/siddhant-curious/DeliFree" target="_blank">Github</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-02 -->

				   <div id="modal-04" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="{{ url_for('static', filename='images/portfolio/chainreaction.jpg') }}"   alt="" />
				     	</div>      	


					   <div class="description-box">
					      <h4>Chain Reaction </h4>		      
					      <p>
					      	A chess like board game played between 2 players.
					      	The objective of Chain Reaction is to take control of the board by eliminating your opponents' orbs.

					      	Players take it in turns to place their orbs in a cell. Once a cell has reached critical mass the orbs explode into the surrounding cells adding an extra orb and claiming the cell for the player. A player may only place their orbs in a blank cell or a cell that contains orbs of their own colour. As soon as a player looses all their orbs they are out of the game.

					      	This game also has an AI built with it such that players can play against computer

					      	Developed in Python, JavaScript, MongoDB and HTML/CSS. 
					      </p>

					      <div class="categories">Web Game with AI</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://github.com/siddhant-curious/chain-reaction-game" target="_blank">Github</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-03 -->

				   <div id="modal-03" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="{{ url_for('static', filename='images/portfolio/nlp.jpg') }}"   alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Hindi Word Sense Disambiguation </h4>		      
					      <p>
					      	This is a graph based approach to disambiguate hindi words using hindi word net and a custom algorithm. Developed in Java. 
					      </p>

					      <div class="categories">Natural Language Processing</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://github.com/siddhant-curious/Hindi-NLP" target="_blank">Github</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-04 -->

				   <div id="modal-05" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="{{ url_for('static', filename='images/portfolio/calc.jpg') }}"  alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>4 Bit Calculator</h4>		      
					      <p>
					      	Built and Designed from scratch using nothing but AND, OR and NAND gate transistors. Can perform addition and substraction. Inputs are stored with JK FlipFlop. 
					      </p>

					      <div class="categories">Electronice</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://drive.google.com/drive/folders/1bRjgZIYRjxX4xyGCpV7FUJJSUd72dMVL?usp=sharing" target="_blank">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-05 -->

				   <div id="modal-06" class="popup-modal slider mfp-hide">	

 	      		<div class="fluid-video-wrapper">

 	      		 <iframe width="560" height="315" src="https://www.youtube.com/embed/6_jQ87-diXs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>


	            </div>

					   <div class="description-box">
					      <h4>Line Follower Robot </h4>		      
					      <p>
					      	Built in first semester, using ATMega8. The robot identifies light source as black or white and then uses it to guide it's movements. Developed in C. 
					      </p>

					      <div class="categories">Electronics</div>			               
					   </div>

			         <div class="link-box">
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-06 -->


   				   <div id="modal-07" class="popup-modal slider mfp-hide">	

 	      		<div class="fluid-video-wrapper">

 	      		 <iframe width="560" height="315" src="https://www.youtube.com/embed/5uDLdi-oIkk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                 </div>
	

					   <div class="description-box">
					      <h4> Space Doger </h4>		      
					      <p>
					      	In this game you try to move your ship in alignment to the visible space in comming obstacles. Built using Unity Game Engine. 

					      </p>

					      <div class="categories">Unity Game Development</div>			               
					   </div>

			         <div class="link-box">
			         		<a href="https://github.com/siddhant-curious/Space-Dodger" target="_blank">Github</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-07 -->



				   <!-- modal popups - end
	            ============================================================= -->

	         </div> <!-- /portfolio-wrapper --> 

   		</div>  <!-- /twelve -->   

   	</div> <!-- /portfolio-content --> 
		
	</section> <!-- /portfolio --> 


	


   <!-- footer
   ================================================== -->

   <footer>
     	<div class="row" style="margin-top: 2%">

     		<div class="col-six tab-full pull-right social">
		        	<span> <a href="http://www.styleshout.com/">Template Credits </a></span>	        
	      </div>

      	<div class="col-six tab-full">
              <ul class="footer-social">        
			      <li><a href="https://github.com/siddhant-curious" target="_blank"><i class="fa fa-github"></i></a></li>
			      <li><a href="https://www.linkedin.com/in/siddhant-curious/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
			      <li><a href="https://twitter.com/i_amsiddhant" target="_blank"><i class="fa fa-twitter"></i></a></li>
			   </ul> 
	      	</div>


      	</div> <!-- /row -->     	
   </footer>    


<!--    <div id="preloader"> 
    	<div id="loader"></div>
   </div> 
 -->
   <!-- Java Script
   ================================================== --> 


<script src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>



<!--    <script src="js/jquery-2.1.3.min.js"></script>
   <script src="js/plugins.js"></script>
   <script src="js/main.js"></script>

 --></body>

</html>